*{
    margin: 0px;
    padding: 5px;
    box-sizing: border-box;
}
body{
    font-family: 'IBM Plex Sans Arabic', sans-serif;    
}
a{
    text-decoration: none;
    color: dimgray;
}
a:hover{
    color:#f73f52;
}
article img {
    width: 100%;
    height: 40%;
    object-fit: cover;
    padding-bottom: 0px;
}
.padre{
    display: flex;
    flex-flow: column nowrap;
    max-width: 1200px;
}
    .header{
        background: url(imagenes/header.jpg);
        background-position: center;               
        display: flex;
        flex-flow: column nowrap;
        height: 400px;
        justify-content: space-between;
    
    }
        .menu{            
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;
        }
            .logo{
                flex: 1 1 5%;
                padding: 0;
                margin: 0;
            }
                .logo img{
                    width: 70px;;
                    margin: 0;
                    padding: 0;
                }
            .nav{                
                flex: 5 1 auto;
                display: flex;
                justify-content: space-around;            
            }
                .nav button{
                    background: salmon;
                    color: white;
                    display: none;
                }
            .social{                
                flex: 1 1 10%;
                display: flex;
                flex-direction: row;
                justify-content: center;            
            }
        .texto-principal{
            background:rgba(125, 125, 125, 0.2);
            width: 90%;
            height: 32%;
            align-self: center;
        }
            .texto-principal h1{
                color: rgba(229, 88, 7, 0.5);
                font-family: 'Libre Baskerville', serif;
                text-align: center;
                font-weight:200;
                font-size: 25px;
                margin-top:1rem;
            }
    .section{
        background: #fff;
        display: flex;
        padding: 10px 0px;
    }
        .articulos{
            background: rgb(216, 215, 215);
            flex: 2 1 77%;
            display: flex;
            flex-flow: row wrap;
            margin-right: 10px;            
        }
            .article{
                background: rgb(246, 242, 242);
                flex: 1 1 40%;
                margin: 7px;
                position: relative;
                height: 500px;
            }
                .fecha{
                    position: absolute;
                    top: 34%;
                    padding: 10px;
                    color: rgba(255, 229, 105, 0.7);
                    font-weight: 100;
                }
                .titulo-art{
                    background: rgb(250, 133, 133);
                    color: #fff;
                    margin: 0px 5px;
                }
                .article p{
                    column-count: 2;
                    margin: 0px 5px;
                    line-height: 1.1;
                    color: rgb(119, 117, 117);
                    padding-top: 20px;
                    letter-spacing: -1px;
                }
                .article a{
                    position: absolute;
                    bottom: 0px;
                    padding-left: 10px;
                }
            .parrafo-art{
                background: rgb(216, 215, 215);
                flex: 1 1 100%;
                text-align:center;
                letter-spacing: -1px;
            }
        .aside{
            background: rgb(216, 215, 215);
            flex: 1 1 23%;
            padding-top: 18px;
        }
            .publicidad{
                text-align: center;
                font-size: 17px;
                line-height: 1.2;
                letter-spacing: -1px;
            }
    .footer{
        background: rgb(216, 215, 215);
        padding: 0px 10px;
    }
        .pie{
            background: rgb(246, 242, 242);
            text-align: center;
            height: 100%;
            letter-spacing: -1px;
            color: rgb(119, 117, 117);
        }
@media (max-width: 1024px){
    .section{
        flex-direction: column;
    }
    .articulos{
        margin-right: 0px;
    }
    .aside{
        margin-top: 10px;
    }
}
@media (max-width: 767px){
    .article p{
        line-height: 1;
        padding-top: 10px;
    }
}
@media (max-width: 480px){
    .header a{
        background: #e6d9d9;
        color: #ff7854;
    }
    .header a:hover{
        color: #f73f52;
    }
    .menu{
        display: flex;
        flex-flow: column nowrap;
    }
        .nav{
            flex-direction: column;
        }
            .nav button{
                display:inline-block;
            }
            .desaparece{
                display: none;
            }
    .texto-principal h1{
        font-size:medium;
        font-weight: 700;
    }      
    .articulos{
        flex-direction: column;        
    }
}
